<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">BitcoinCash</label>
    <label lang="en">BitcoinCash</label>

    <version>1.0.1</version>
    <copyright>LX and ZWILLA</copyright>
    <license>MIT</license>

    <link>https://github/zwilla/zwilla_shopware_bicoincash_payment/</link>
    <author>LX and Zwilla</author>
    <compatibility minVersion="5.2.9" />


    <description lang="en" format="html">
        <![CDATA[
          <h2>Blockchain Receive BitcoinCash Payments</h2>
          <p>This module allows you to accept BitcoinCash payments from your customers using blockchain.info's Receive Payments API V2.</p>
        ]]>
    </description>

    <description lang="de" format="html">
        <![CDATA[
          <h2>Blockchain Receive BitcoinCash Payments</h2>
          <p>This module allows you to accept BitcoinCash payments from your customers using blockchain.info's Receive Payments API V2.</p>
        ]]>
    </description>

    <changelog version="1.0.0">
        <changes lang="de">Veröffentlichung</changes>
        <changes lang="en">Release</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">Added plugin.xml</changes>
        <changes lang="en">Added plugin.xml</changes>
    </changelog>
</plugin>